# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
from urllib.request import urlopen
# import random
import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [403]:
#your code
req = requests.get(url)
soup = BeautifulSoup(req.content, "html.parser")

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [ ]:
#<a data-hydro-click="{&quot;event_type&quot;:&quot;explore.click&quot;,&quot;payload&quot;:{&quot;click_context&quot;:&quot;TRENDING_DEVELOPERS_PAGE&quot;,&quot;click_target&quot;:&quot;OWNER&quot;,&quot;click_visual_representation&quot;:&quot;TRENDING_DEVELOPER&quot;,&quot;actor_id&quot;:null,&quot;record_id&quot;:216188,&quot;originating_url&quot;:&quot;https://github.com/trending/developers&quot;,&quot;user_id&quot;:null}}" data-hydro-click-hmac="896a148d5d4218b3eaa307d034cece6923d350afb64b058e74d9061d6ca47324" href="/jdxcode" data-view-component="true" class="Link--secondary">jdxcode
#</a>

In [16]:
#your code
soup.find_all("a", attrs={"class":"Link--secondary"})[30].getText()

'\n              jdxcode\n'

In [84]:
all_data = soup.find_all('a', attrs={'class':'Link--secondary'})
trending_dev = []
#from 26 onwards as the prior data is not relevant and is tagged with the same class attribute
for i in all_data[26:]:
    if i.get('href').startswith('/'):
        trending_dev.append(i.get('href').replace('/',''))
        
trending_dev

['Himself65',
 'dessalines',
 'hwchase17',
 'Narsil',
 'jdxcode',
 'wader',
 'jerryjliu',
 'hathach',
 'nfcampos',
 'chrisbanes',
 'marcusolsson',
 'zkochan',
 'matklad',
 'aler9',
 'tobymao',
 'biodranik',
 'fonsp',
 'syuilo',
 'azure-sdk',
 'didierganthier']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [85]:
# This is the url you will scrape in this exercise
url2 = 'https://github.com/trending/python?since=daily'

In [86]:
#your code
req2 = requests.get(url2)
soup2 = BeautifulSoup(req2.content, "html.parser")

In [164]:
all_repo = soup2.find_all("h1", attrs={"class":"h3 lh-condensed"})
trending_repo = []
#find all h1 with the class, inside finde a which contains the links and then href for the repo ref (going directly to a from find all brings too many links)
for i in all_repo:
    if i.find('a').get('href'):
        trending_repo.append(i.find('a').get('href'))
        
trending_repo

['/modelscope/modelscope',
 '/Stability-AI/stablediffusion',
 '/GaiZhenbiao/ChuanhuChatGPT',
 '/home-assistant/core',
 '/AUTOMATIC1111/stable-diffusion-webui',
 '/34j/so-vits-svc-fork',
 '/acheong08/EdgeGPT',
 '/bregman-arie/devops-exercises',
 '/karpathy/nanoGPT',
 '/TencentARC/GFPGAN',
 '/comfyanonymous/ComfyUI',
 '/hwchase17/chat-langchain',
 '/lucidrains/PaLM-rlhf-pytorch',
 '/Akegarasu/ChatGLM-webui',
 '/neonbjb/tortoise-tts',
 '/zhayujie/chatgpt-on-wechat',
 '/acheong08/ChatGPT',
 '/Zero6992/chatGPT-discord-bot',
 '/pytube/pytube',
 '/pointnetwork/point-alpaca',
 '/iperov/DeepFaceLab',
 '/hwchase17/langchain',
 '/crowsonkb/k-diffusion',
 '/karfly/chatgpt_telegram_bot',
 '/openai/whisper']

#### Display all the image links from Walt Disney wikipedia page

In [153]:
# This is the url you will scrape in this exercise
url3 = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [154]:
#your code
req3 = requests.get(url3)
soup3 = BeautifulSoup(req3.content, "html.parser")

In [168]:
all_img = soup3.find_all("a", attrs={"class":"image"})
img_repo = []
#find all h1 with the class, inside finde a which contains the links and then href for the repo ref (going directly to a from find all brings too many links)
for i in all_img:
    if i.get('href'):
        img_repo.append("https://en.wikipedia.org/"+i.get('href'))
        
img_repo

['https://en.wikipedia.org//wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org//wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org//wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org//wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org//wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org//wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org//wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org//wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org//wiki/File:Disney_Oscar_1953_(cropped).jpg',
 'https://en.wikipedia.org//wiki/File:Disneyland_Resort_logo.svg',
 'https://en.wikipedia.org//wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org//wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org//wiki/File:Blank_television_set.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [169]:
# This is the url you will scrape in this exercise
url4 ='https://en.wikipedia.org/wiki/Python'

In [171]:
#your code
req4 = requests.get(url4)
soup4 = BeautifulSoup(req4.content, 'html.parser')

In [239]:
#Tried with: all_links = soup4.find_all("div", attrs={"class":"mw-parser-output"}) but did not work
all_links = soup4.find_all('ul')
links_repo = []

for i in all_links:
    try:
        if i.find('a').get('href').startswith('/wiki/Py'):
            links_repo.append(i.find('a').get('href'))
    except:
        print(f"something went wrong with:{i}")
    
links_repo

something went wrong with:<ul class="vector-toc-list" id="toc-Snakes-sublist">
</ul>
something went wrong with:<ul class="vector-toc-list" id="toc-Computing-sublist">
</ul>
something went wrong with:<ul class="vector-toc-list" id="toc-People-sublist">
</ul>
something went wrong with:<ul class="vector-toc-list" id="toc-Roller_coasters-sublist">
</ul>
something went wrong with:<ul class="vector-toc-list" id="toc-Vehicles-sublist">
</ul>
something went wrong with:<ul class="vector-toc-list" id="toc-Weaponry-sublist">
</ul>
something went wrong with:<ul class="vector-toc-list" id="toc-Other_uses-sublist">
</ul>
something went wrong with:<ul class="vector-toc-list" id="toc-See_also-sublist">
</ul>
something went wrong with:<ul class="vector-menu-content-list"></ul>

['/wiki/Python',
 '/wiki/Python',
 '/wiki/Python',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/wiki/Python_(programming_language)',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(missile)',
 '/wiki/Python_(codename)',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Pyton']

#### Number of Titles that have changed in the United States Code since its last release point

In [240]:
# This is the url you will scrape in this exercise
url5 = 'http://uscode.house.gov/download/download.shtml'

In [242]:
#your code
req5 = requests.get(url5)
soup5 = BeautifulSoup(req5.content, 'html.parser')

In [248]:
all_changed = soup5.find_all('div', attrs ={'class': 'usctitlechanged'})
changed_repo = []

for i in all_changed:
    if i.getText().strip():
        changed_repo.append(i.getText().strip())
        
changed_repo

['Title 5 - Government Organization and Employees ٭',
 'Title 6 - Domestic Security',
 'Title 8 - Aliens and Nationality',
 'Title 11 - Bankruptcy ٭',
 'Title 16 - Conservation',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 25 - Indians',
 'Title 28 - Judiciary and Judicial Procedure ٭',
 'Title 34 - Crime Control and Law Enforcement',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations ٭',
 "Title 38 - Veterans' Benefits ٭",
 'Title 42 - The Public Health and Welfare',
 'Title 47 - Telecommunications',
 'Title 50 - War and National Defense',
 'Title 54 - National Park Service and Related Programs ٭']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [249]:
# This is the url you will scrape in this exercise
url6 = 'https://www.emsc-csem.org/Earthquake/'

In [250]:
#your code
req6 = requests.get(url6)
soup6 = BeautifulSoup(req6.content, 'html.parser')

In [271]:
#Table #3 as there are several tables inside this website
table_eq = soup6.find_all('table')[3]
#Slicing upto 20 results as requested in lab:
df = pd.read_html(table_eq.prettify())[0][:20]
df

                     Citizen  Response                                        \
   1  2  3  4  5  6  7  8  9  10  ›  » 1  2  3  4  5  6  7  8  9  10  ›  ».1
0                                  NaN                                   NaN
1                                  NaN                                   NaN
2                                  NaN                                   NaN
3                                  NaN                                   NaN
4                                  NaN                                   NaN
5                                  NaN                                   NaN
6                                  NaN                                   NaN
7                                  NaN                                   NaN
8                                    1                                   NaN
9                                  NaN                                   NaN
10                                 NaN                                   NaN
11                                 NaN                                   NaN
12                                 NaN                                   NaN
13                                 NaN                                   NaN
14                                 NaN                                   NaN
15                                 NaN                                   NaN
16                                   2                                   NaN
17                                 NaN                                   NaN
18                                   2                                   NaN
19                                 NaN                                   NaN

                                          \
   1  2  3  4  5  6  7  8  9  10  ›  ».2
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN
5                                    NaN
6                                    NaN
7                                    NaN
8                                      F
9                                    NaN
10                                   NaN
11                                   NaN
12                                   NaN
13                                   NaN
14                                   NaN
15                                   NaN
16                                     F
17                                     F
18                                     F
19                                   NaN

                        Date & Time  UTC                   Latitude  degrees  \
     1  2  3  4  5  6  7  8  9  10  ›  » 1  2  3  4  5  6  7  8  9  10  ›  »
0       2023-03-21 10:55:32.0  06min ago                               38.43
1       2023-03-21 10:50:40.5  11min ago                               37.81
2       2023-03-21 10:41:38.0  20min ago                               28.00
3       2023-03-21 10:40:57.0  21min ago                               12.62
4       2023-03-21 10:33:18.6  28min ago                               37.50
5       2023-03-21 10:17:08.5  44min ago                               37.35
6       2023-03-21 10:13:22.1  48min ago                               38.12
7       2023-03-21 10:10:59.4  51min ago                               44.88
8   2023-03-21 09:59:15.0  1hr 02min ago                               38.38
9   2023-03-21 09:50:04.0  1hr 11min ago                               21.53
10  2023-03-21 09:48:58.0  1hr 13min ago                               37.99
11  2023-03-21 09:18:50.0  1hr 43min ago                                4.68
12  2023-03-21 09:15:16.0  1hr 46min ago                               35.19
13  2023-03-21 09:13:31.3  1hr 48min ago                               56.89
14  2023-03-21 09:00:48.3  2hr 01min ago                                7.65
15  2023-03-21 08:54:06.1  2hr 07min ago                               38.46
16  2023-03-21 08:40:49.0  2hr 21min ago                               38.02
17  2023-03-21 08:27:55.3  2hr 34min ago                               37.82
18  2023-03-21 08:17:42.3  2hr 44min ago                               45.16
19  2023-03-21 08:15:16.9  2hr 46min ago                               32.39

                                                          Longitude  degrees  \
   1  2  3  4  5  6  7  8  9  10  ›  ».1 1  2  3  4  5  6  7  8  9  10  ›  »
0                                      N                               37.34
1                                      N                               36.62
2                                      S                               70.70
3                                      N                               87.96
4                                      N                               37.18
5                                      N                               36.90
6                                      N                               37.71
7                                      S                              167.79
8                                      N                               45.25
9                                      S                               68.59
10                                     N                               36.54
11                                     S                              102.63
12                                     N                                3.58
13                                     N                              158.08
14                                     S                              127.51
15                                     N                               37.22
16                                     N                               36.37
17                                     N                               36.30
18                                     N                               23.15
19                                     N                              115.23

                                                                   Depth  km  \
   1  2  3  4  5  6  7  8  9  10  ›  ».1 1  2  3  4  5  6  7  8  9  10  ›  »
0                                      E                                   5
1                                      E                                  10
2                                      W                                  51
3                                      W                                  32
4                                      E                                   9
5                                      E                                   5
6                                      E                                   1
7                                      E                                  58
8                                      E                                   2
9                                      W                                 127
10                                     E                                   5
11                                     E                                  28
12                                     W                                   3
13                                     W                                  10
14                                     E                                 166
15                                     E                                   5
16                                     E                                   5
17                                     E                                   5
18                                     E                                  16
19                                     W                                   8

                              Mag  [+]                    Region name  [+]  \
   1  2  3  4  5  6  7  8  9  10  ›  » 1  2  3  4  5  6  7  8  9  10  ›  »
0                                   ML                                 2.0
1                                    M                                 3.1
2                                    M                                 2.5
3                                    M                                 2.7
4                                   ML                                 2.1
5                                   ML                                 2.9
6                                   ML                                 2.5
7                                    M                                 3.0
8                                   ML                                 3.4
9                                    M                                 2.6
10                                   M                                 2.8
11                                   M                                 3.6
12                                  ML                                 2.5
13                                  ML                                 3.0
14                                  mb                                 4.4
15                                  ML                                 2.4
16                                  ML                                 3.7
17                                  ML                                 3.9
18                                  ML                                 2.7
19                                  Ml                                 2.0

                      Last update  [-]                 Unnamed: 12_level_0
   1  2  3  4  5  6  7  8  9  10  ›  » 1  2  3  4  5  6  7  8  9  10  ›  »
0                       CENTRAL TURKEY                    2023-03-21 10:59
1                       CENTRAL TURKEY                    2023-03-21 10:51
2                       ATACAMA, CHILE                    2023-03-21 10:48
3              NEAR COAST OF NICARAGUA                    2023-03-21 10:50
4                       CENTRAL TURKEY                    2023-03-21 10:36
5                       CENTRAL TURKEY                    2023-03-21 10:26
6                       CENTRAL TURKEY                    2023-03-21 10:21
7          SOUTH ISLAND OF NEW ZEALAND                    2023-03-21 10:15
8                    NORTHWESTERN IRAN                    2023-03-21 10:22
9                   ANTOFAGASTA, CHILE                    2023-03-21 10:13
10                      CENTRAL TURKEY                    2023-03-21 10:10
11         SOUTHERN SUMATRA, INDONESIA                    2023-03-21 09:25
12                 STRAIT OF GIBRALTAR                    2023-03-21 09:23
13                    ALASKA PENINSULA                    2023-03-21 09:27
14     KEPULAUAN BARAT DAYA, INDONESIA                    2023-03-21 10:22
15                      CENTRAL TURKEY                    2023-03-21 08:57
16                      CENTRAL TURKEY                    2023-03-21 10:23
17                      CENTRAL TURKEY                    2023-03-21 10:24
18                             ROMANIA                    2023-03-21 10:24
19             BAJA CALIFORNIA, MEXICO                    2023-03-21 08:17

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'
url_hack = 'https://hackevents.co/search/anything/anywhere/anytime'

In [273]:
#your code
"Browser -> Not a secure website"

'Browser -> Not a secure website'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [274]:
# This is the url you will scrape in this exercise
url7 = 'https://www.wikipedia.org/'

In [276]:
#your code
req7 = requests.get(url7)
soup7 = BeautifulSoup(req7.content, 'html.parser')

In [290]:
all_lang = soup7.find_all('div', attrs ={'class': 'lang-list-content'})[0].find_all('li')
lang_list = []

for i in all_lang:
    if i.getText():
        lang_list.append(i.getText())

lang_list

['Polski',
 'العربية',
 'Deutsch',
 'English',
 'Español',
 'Français',
 'Italiano',
 'مصرى',
 'Nederlands',
 '日本語',
 'Português',
 'Sinugboanong Binisaya',
 'Svenska',
 'Українська',
 'Tiếng Việt',
 'Winaray',
 '中文',
 'Русский',
 'Afrikaans',
 'Asturianu',
 'Azərbaycanca',
 'Български',
 'Bân-lâm-gú / Hō-ló-oē',
 'বাংলা',
 'Беларуская',
 'Català',
 'Čeština',
 'Cymraeg',
 'Dansk',
 'Eesti',
 'Ελληνικά',
 'Esperanto',
 'Euskara',
 'فارسی',
 'Galego',
 '한국어',
 'हिन्दी',
 'Hrvatski',
 'Bahasa Indonesia',
 'עברית',
 'ქართული',
 'Latina',
 'Latviešu',
 'Lietuvių',
 'Magyar',
 'Македонски',
 'Bahasa Melayu',
 'Bahaso Minangkabau',
 'Norskbokmålnynorsk',
 'bokmål',
 'nynorsk',
 'Нохчийн',
 'Oʻzbekcha / Ўзбекча',
 'Қазақша / Qazaqşa / قازاقشا',
 'Română',
 'Simple English',
 'Slovenčina',
 'Slovenščina',
 'Српски / Srpski',
 'Srpskohrvatski / Српскохрватски',
 'Suomi',
 'தமிழ்',
 'Татарча / Tatarça',
 'ภาษาไทย',
 'Тоҷикӣ',
 'تۆرکجه',
 'Türkçe',
 'اردو',
 '粵語',
 'Հայերեն',
 'မြန်မာဘာသာ',
 'Bahsa Acèh',
 'Alemannisch',
 'አማርኛ',
 'Aragonés',
 'Արեւմտահայերէն',
 'Basa Bali',
 'Bahasa Banjar',
 'Basa Banyumasan',
 'Башҡортса',
 'Беларуская (Тарашкевіца)',
 'Bikol Central',
 'বিষ্ণুপ্রিয়া মণিপুরী',
 'Boarisch',
 'Bosanski',
 'Brezhoneg',
 'Чӑвашла',
 'Diné Bizaad',
 'Emigliàn–Rumagnòl',
 'Fiji Hindi',
 'Føroyskt',
 'Frysk',
 'Gaeilge',
 'Gàidhlig',
 'ગુજરાતી',
 'Hak-kâ-ngî / 客家語',
 'Hausa',
 'Hornjoserbsce',
 'Ido',
 'Igbo',
 'Ilokano',
 'Interlingua',
 'Interlingue',
 'Ирон',
 'Íslenska',
 'Jawa',
 'ಕನ್ನಡ',
 'Kreyòl Ayisyen',
 'Kurdî / كوردی',
 'کوردیی ناوەندی',
 'Кыргызча',
 'Кырык мары',
 'Lëtzebuergesch',
 'Lìgure',
 'Limburgs',
 'Lombard',
 'मैथिली',
 'Malagasy',
 'മലയാളം',
 '文言',
 'मराठी',
 'მარგალური',
 'مازِرونی',
 'Mìng-dĕ̤ng-ngṳ̄ / 閩東語',
 'Монгол',
 'Napulitano',
 'नेपाल भाषा',
 'नेपाली',
 'Nordfriisk',
 'Occitan',
 'Олык марий',
 'ଓଡି଼ଆ',
 'অসমীযা়',
 'ਪੰਜਾਬੀ (ਗੁਰਮੁਖੀ)',
 'پنجابی (شاہ مکھی)',
 'پښتو',
 'Piemontèis',
 'Plattdüütsch',
 'Qırımtatarca',
 'Runa Simi',
 'संस्कृतम्',
 'Саха Тыла',
 'Scots',
 'ChiShona',
 'Shqip',
 'Sicilianu',
 'සිංහල',
 'سنڌي',
 'Ślůnski',
 'Basa Sunda',
 'Kiswahili',
 'Tagalog',
 'ၽႃႇသႃႇတႆး',
 'తెలుగు',
 'ᨅᨔ ᨕᨙᨁᨗ / Basa Ugi',
 'Vèneto',
 'Volapük',
 'Walon',
 '吴语',
 'ייִדיש',
 'Yorùbá',
 'Zazaki',
 'Žemaitėška',
 'isiZulu',
 'Dzhudezmo / לאדינו',
 'Адыгэбзэ',
 'Ænglisc',
 'Anarâškielâ',
 'аԥсшәа',
 'Armãneashce',
 'Arpitan',
 'ܐܬܘܪܝܐ',
 'Avañe’ẽ',
 'Авар',
 'Aymar',
 'भोजपुरी',
 'Bislama',
 'བོད་ཡིག',
 'Буряад',
 'Chavacano de Zamboanga',
 'Chichewa',
 'Corsu',
 'Vahcuengh / 話僮',
 'Dagbanli',
 'الدارجة',
 'Davvisámegiella',
 'Deitsch',
 'ދިވެހިބަސް',
 'Dolnoserbski',
 'Эрзянь',
 'Estremeñu',
 'Furlan',
 'Gaelg',
 'Gagauz',
 'ГӀалгӀай',
 'Gĩkũyũ',
 'گیلکی',
 '赣语 / 贛語',
 'Gungbe',
 'Хальмг',
 'ʻŌlelo Hawaiʻi',
 'Ikinyarwanda',
 'Kabɩyɛ',
 'Kapampangan',
 'Kaszëbsczi',
 'Kernewek',
 'ភាសាខ្មែរ',
 'Коми',
 'Перем коми',
 'Kongo',
 'कोंकणी / Konknni',
 'كٲشُر',
 'Kriyòl Gwiyannen',
 'ພາສາລາວ',
 'Лакку',
 'Latgaļu',
 'Лезги',
 'Li Niha',
 'Lingála',
 'lojban',
 'Luganda',
 'Malti',
 'Māori',
 'Twi',
 'Mirandés',
 'Мокшень',
 'ဘာသာ မန်',
 'ߒߞߏ',
 'Na Vosa Vaka-Viti',
 'Nāhuatlahtōlli',
 'Dorerin Naoero',
 'Nedersaksisch',
 'Nouormand / Normaund',
 'Novial',
 'Afaan Oromoo',
 'ပအိုဝ်ႏဘာႏသာႏ',
 'पालि',
 'Pangasinán',
 'Papiamentu',
 'Pfälzisch',
 'Picard',
 'Къарачай–малкъар',
 'Qaraqalpaqsha',
 'Ripoarisch',
 'Rumantsch',
 'Русиньскый',
 'Gagana Sāmoa',
 'ᱥᱟᱱᱛᱟᱲᱤ',
 'سرائیکی',
 'Sardu',
 'Seediq',
 'Seeltersk',
 'Sesotho sa Leboa',
 'Setswana',
 'Словѣ́ньскъ / ⰔⰎⰑⰂⰡⰐⰠⰔⰍⰟ',
 'Soomaaliga',
 'Sranantongo',
 'Taqbaylit',
 'Tarandíne',
 'Tetun',
 'Tok Pisin',
 'faka Tonga',
 'ᏣᎳᎩ',
 'chiTumbuka',
 'Türkmençe',
 'Тыва дыл',
 'Удмурт',
 'ئۇيغۇرچه',
 'Vepsän',
 'Võro',
 'West-Vlams',
 'Wolof',
 'isiXhosa',
 'Zeêuws',
 'Reo tahiti',
 'Akan',
 'Bamanankan',
 'Chamoru',
 'Eʋegbe',
 'Fulfulde',
 '𐌲𐌿𐍄𐌹𐍃𐌺',
 'ᐃᓄᒃᑎᑐᑦ / Inuktitut',
 'Iñupiak',
 'Kalaallisut',
 'Madhurâ',
 'Nēhiyawēwin / ᓀᐦᐃᔭᐍᐏᐣ',
 'Norfuk / Pitkern',
 'Pangcah',
 'pinayuanan',
 'Ποντιακά',
 'རྫོང་ཁ',
 'romani čhib',
 'Ikirundi',
 'Sängö',
 'Sesotho',
 'SiSwati',
 'ትግርኛ',
 'Thuɔŋjäŋ',
 'Tsėhesenėstsestotse',
 'Xitsonga',
 'Tyap',
 'Tshivenḓa']

#### A list with the different kind of datasets available in data.gov.uk

In [291]:
# This is the url you will scrape in this exercise
url8 = 'https://data.gov.uk/'

In [293]:
#your code 
req8 = requests.get(url8)
soup8 = BeautifulSoup(req8.content, 'html.parser')

In [297]:
all_data= soup8.find_all('h3', attrs ={'class':'govuk-heading-s dgu-topics__heading'})
data_repo = []

for i in all_data:
    if i.getText():
        data_repo.append(i.getText())
        
data_repo

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [298]:
# This is the url you will scrape in this exercise
url9 = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [299]:
#your code
req9 = requests.get(url9)
soup9 = BeautifulSoup(req9.content, 'html.parser')

In [309]:
table_lang = soup9.find_all('table')[0]
df = pd.read_html(table_lang.prettify())[0][:10]
df

,Language,Native speakers (millions),Language family,Branch
0,"Mandarin Chinese (incl. Standard Chinese , ...",939.0,Sino-Tibetan,Sinitic
1,Spanish,485.0,Indo-European,Romance
2,English,380.0,Indo-European,Germanic
3,"Hindi (excl. Urdu , and other languages )",345.0,Indo-European,Indo-Aryan
4,Portuguese,236.0,Indo-European,Romance
5,Bengali,234.0,Indo-European,Indo-Aryan
6,Russian,147.0,Indo-European,Balto-Slavic
7,Japanese,123.0,Japonic,Japanese
8,Yue Chinese (incl. Cantonese ),86.1,Sino-Tibetan,Sinitic
9,Vietnamese,85.0,Austroasiatic,Vietic

### BONUS QUESTIONS

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [398]:
# This is the url you will scrape in this exercise 
url10 = 'https://www.imdb.com/chart/top'

In [399]:
# your code
req10 = requests.get(url10)
soup10 = BeautifulSoup(req10.content, 'html.parser')

In [400]:
table_movies = soup10.find_all('td', attrs ={'class':'titleColumn'})
rank = []
movie = []
year = []
rating = []
dir_ = []
stars_ = []
movies_repo = {
    'Rank': rank,
    'Title': movie,
    'Year': year,
    'IMDB Rating': rating,
    'Director': dir_,
    'Stars': stars_
}

In [401]:
#from table movies we can get ranking ind.0 movie ind.1 year ind.2 from getText and by finding 'a' we can get dir and actors
for i in table_movies:
    if i.getText().strip().split('\n'):
        rank.append(i.getText().strip().split('\n')[0])
        movie.append(i.getText().strip().split('\n')[1])
        year.append(i.getText().strip().split('\n')[2].replace('(','').replace(')',''))
    if i.find('a').get('title').split('(dir.)'):
        dir_.append(i.find('a').get('title').split('(dir.)')[0])
        stars_.append(i.find('a').get('title').split('(dir.)')[1][1:])
#df = pd.DataFrame(movies_repo)
#df

In [402]:
table_ratings = soup10.find_all('td', attrs ={'class':'ratingColumn imdbRating'})
for i in table_ratings:
    if i.getText().strip():
        rating.append(i.getText().strip())
        
df = pd.DataFrame(movies_repo)
df

,Rank,Title,Year,IMDB Rating,Director,Stars
0,1.,Cadena perpetua,1994,9.2,Frank Darabont,"Tim Robbins, Morgan Freeman"
1,2.,El padrino,1972,9.2,Francis Ford Coppola,"Marlon Brando, Al Pacino"
2,3.,El caballero oscuro,2008,9.0,Christopher Nolan,"Christian Bale, Heath Ledger"
3,4.,El padrino (parte II),1974,9.0,Francis Ford Coppola,"Al Pacino, Robert De Niro"
4,5.,12 hombres sin piedad,1957,9.0,Sidney Lumet,"Henry Fonda, Lee J. Cobb"
...,...,...,...,...,...,...
245,246.,Criadas y señoras,2011,8.0,Tate Taylor,"Viola Davis, Emma Stone"
246,247.,Dersu Uzala (El cazador),1975,8.0,Akira Kurosawa,"Maksim Munzuk, Yuriy Solomin"
247,248.,Aladdín,1992,8.0,Ron Clements,"Scott Weinger, Robin Williams"
248,249.,Bailando con lobos,1990,8.0,Kevin Costner,"Kevin Costner, Mary McDonnell"
249,250.,Gandhi,1982,8.0,Richard Attenborough,"Ben Kingsley, John Gielgud"